.top_logo {
    /* border: 1px solid red; */
    min-width: 75px;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.top_logo a {
    height: 10vh;
    max-height: 70px;
    min-height: 50px;
}

.top_logo img {
    height: 10vh;
    max-height: 70px;
    min-height: 50px;
}

#top_list {
    display: flex;
    justify-content: end;
    align-items: baseline;
    /* border: 1px solid red; */
    width: 75%;
}

.lista_simple {
    position: relative;
    /* necesito esto para el subrayado*/
    border: 1px solid black;
    margin-left: 3vw;
    display: flex;
}

.lista_simple a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: var(--cLetra);
    /* border: 1px solid black; */
}

.lista_simple svg {
    height: 19px;
}



.lista_simple a:hover {
    color: var(--cFondo);
}

.lista_simple a:hover::after {
    content: "";
    width: 40%;
    height: 3px;
    background: var(--cFondo);
    position: absolute;
    bottom: -3px;
    left: 2px;
}

.mobileMenu {
    display: none;
    width: 0;
}




.lista_menu {
    position: relative;
    /* border: 1px solid black; */
    display: flexbox;
    align-items: center;
}


.lista_content {
    height: 0;
    width: 0;
    overflow: hidden;
}

.lista_content a {
    height: 12vh;
}


.opened {
    position: fixed;
    top: 7.2vh;
    height: auto;
    width: auto;
    /* border: 1px solid yellow; */
    /* background-color: aqua; */

}





@media (max-width: 600px) {

    .mobileMenu {
        display: flex;
        margin-left: auto;
        width: 36.5vw;
        align-items: center;
        justify-content: center;
    }


    #top_list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 40vw;

        position: fixed;
        top: 7.2vh;
        right: -100%;
        height: 40vh;
        max-height: 400px;
        padding-left: 5vw;

        background-color: var(--cPaleta2);
        transition: 0.25s ease-in-out;
    }


    #top_list.active {
        right: 0%;
    }

}