.zonatop {
    border: 5px solid seagreen;
    /* display: inline-flex; */
    /* width: 100%; */
    /* align-items: center; */
    position: sticky;
    top: 0;
    background-color: var(--cPaleta2);
}
.top_logo {
    /* border: 1px solid red; */
    min-width: 75px;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.top_logo a {
    height: 10vh;
    max-height: 70px;
    min-height: 50px;
}

.top_logo img {
    height: 10vh;
    max-height: 70px;
    min-height: 50px;
}


.minav {
    display: flex;
    margin-right: 30px;
    justify-content: flex-end;
    align-items: baseline;
    /* border: 1px solid red; */
    width: 75%;
}